<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% load bootstrap3 %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'hospital/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hospital/css/bootstrap.united.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hospital/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'reception/css/style.css' %}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <title>SignUp|hospital Hospital</title>
  </head>
<body>


{% block content %}
<div class="container">
    <h1>Sign Up</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Sign Up" class="btn btn-default">
    </form>
</div>
{% endblock %}
</body>
</html>
